@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    background-color: white;
    display: flex;
    
}

.loginLeft {
    background-color: #3460F2;
    flex-basis: 70%;
    color:white;
}

.loginLeft h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    -webkit-text-stroke: 2px black;
    
}

.titleLotto {
    font-family: 'Oswald', sans-serif;
    color: #3460F2;
}

a {
    text-decoration: underline;
    color: #3460F2;
}

